/*Style rules for etsy site*/

body {
	width: 1100px;
	margin: 24px auto;
}

ul {
	display: flex;
	list-style-type: none;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: rgb(228, 228, 228);
	padding: 10px;
	justify-content: center;
}

li, .apart{
	margin-left: 15px;
	text-align: center;
}

img {
	max-width: 100%;
	max-height: auto;
}

div {
	display: flex;
}

#top {
	border-top-style: solid;
	border-top-width: 2px;
	border-top-color: black;
	justify-content: center;
	padding-top: 10px;
}

#title {
	text-align: center;
	box-sizing: border-box;
	color: rgb(34,34,34);
	font-size: 32px;
	font-weight: 300;
	letter-spacing: 0.5px;
	line-height: 36px;
	padding-bottom: 12px;
	padding-left: 12px;
	padding-right: 12px;
	padding-top: 30px;
	text-size-adjust: 100%;
}

#placeholder{
	text-align: left;
}

.floating {
	margin-bottom: 15px;
}

.together {
	display: flex;
}

.orange {
	color: rgb(241, 100, 30);
}

.rose{
	background-color: rgb(248, 235, 230);
	padding: 15px;
	text-align: center;
}

.lora{
	font-family: "Lora", serif;
}

.raleway{
	font-family: 'Raleway', sans-serif;
}

.bold{
	font-weight: bold;
}

.large{
	font-size: 35px;
}

.medium{
	font-size: 25px;
}

.small{
	font-size: 15px;
}

.margin-15{
	margin: 15px;
}

.gray{
	background-color: rgb(228, 228, 228);
}

.round-all{
	border-radius: 5px;
}

.round-right{
	border-radius: 0px 5px 5px 0px;
}

.round-left{
	border-radius: 5px 0px 0px 5px;
}

.photo{
	width: auto;
	height: 100%;
}

.mobile-visible{
	display: none;
}

@media(max-width: 900px){
	#pictures {display: block;}
	.disappear {display: none;}
	.mobile-visible:{display: flex;}
	body {
		width: 890px;
		margin: 15px auto;
	}
}
